<!doctype html>
<html lang="en">
  	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

		<title>DW2018 - UNAB</title>

  	</head>
  	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  	<div class="container">
		  
	  	<a class="navbar-brand" href="#">Basket App</a>
	  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
	  		</button>

	  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
			  <!-- <li class="nav-item active">
				<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			  </li> -->
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>

		</div>
			</nav>
		<div class="container">
		
		<div class="row">
			<div class="col-lg-12">
				<h1 style="margin-top:30px;">Nómina de jugadores</h1>
				<table class="table table-striped">
				  <thead>
					  <!--FILA DE ATRIBUTOS DE COLUMNAS -->
						<tr>
						  <th scope="col">ID</th>
						  <th scope="col">Nombre</th>
						  <th scope="col">Fecha</th>
						  <th scope="col">Hora</th>
						  <th scope="col">Equipo</th>
						  <th scope="col">Entrenador</th>
						</tr>
				  </thead>
				  <tbody>

					<!--INICIO DE LA FILA. AQUI SE LISTAN LOS REGISTROS-->
					{% for payroll in p %}
					  	<tr>				
					  		<td> {{payroll.id}} </td>
					  		<td> {{payroll.name}} </td>
					  		<td> {{payroll.date}} </td>
							<td> {{payroll.time}} </td>
							<td> {{payroll.team}} </td>
							<td> {{payroll.coach}} </td>
							<td>
								<!--BOTON QUE AL APRETAR DESPLIEGA OPCIONES EN CADA REGISTRO DE LA TABLA-->
								<div class="dropdown">
							  		<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Manager
							  		</button>

								 	<div class="dropdown-menu" aria-labelledby="dropdownMenu2">

										<!--BOTON EDITAR EN CADA REGISTRO DE LA TABLA-->
										<a style="text-decoration:none" href="{% url 'payroll_update' payroll.id %}">
								      <button class="dropdown-item" type="button">Editar</button>
								    </a>

										<!--BOTON ELIMINAR EN CADA REGISTRO DE LA TABLA-->
        						<a style="text-decoration:none" href="{% url 'payroll_delete' payroll.id %}">
								     	<button class="dropdown-item" type="button">Eliminar</button>
								    </a>
									</div>
								</div>
						  </td>
						</tr> <!--FIN DE LA FILA-->
					{% endfor %}
				 </tbody>
				</table>
			</div>


			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-end">

					<!--BOTON PREVIOUS-->
					{% if p.has_previous %}
	            <li class="page-item">
	            	<a class="page-link" href="?page={{ p.previous_page_number }}" tabindex="-1">Previous</a>
	            </li>
	        {% endif %}

					<!--BOTONES QUE DEPENDEN DE LOS REGISTROS-->
	        {% for page in p.paginator.page_range %}
	            <li class="{% if p.number == page %}active{% endif %}">
                <a class="page-link" href="?page={{ page }}">{{ page }}</a>
	            </li>
	        {% endfor %}

					<!--BOTON NEXT-->
	        {% if p.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ p.next_page_number }}">Next</a>
	          </li>
	        {% endif %}

	      </ul>
			</nav>
			
		</div>
	</div>
	
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>